<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="omnipro" class="omnipro" sortOrder="10" translate="label">
            <label>OMNI.PRO config</label>
        </tab>
        <section id="omniprosection" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10" translate="label">
        <class>separator-top</class>
        <label>Omnipro Label Config</label>
        <resource>OmniPro_Attribute::acl_rule</resource>
        <tab>omnipro</tab>
        <group id="omnigroup" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>Omnipro Group</label>
        <comment>Comentario</comment>

        <field id="enabled" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" type="select">
            <label>Module Enable</label>
           <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
        </field>
         <field id="omniprofield" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" type="select">
            <label>Configuracion</label>
            <comment>thiss text will display on the frontend</comment>
        </field>
        </group>
        </section>
    </system>
</config>