<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="omniproblog" frontName="omnipro_myblog">
            <module name="OmniPro_MyBlog"  before="Magento_Backend" />
        </route>
    </router>
</config>